.git
.venv
venv
**/node_modules
**/.nuxt
**/.output
**/.cache
**/__pycache__
*.pyc
*.log
.env
.env.*
*.sqlite3
media
staticfiles
*.md
**/*.md
*.txt
**/*.txt
!requirements.txt
!frontend/public/robots.txt
